@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* remove all default styling (tip picked up from Love Running Project */

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* body element font-family, weight and color */

body {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    color: #808080;
}

/* headings and logo*/

h1, h2 {
    font-family: Roboto;
    color: #7d7d7d;
    text-transform: uppercase;
}

#logo {
    margin-left: 30px;
    float: left;
    font-size: 250%;
    line-height: 75px;
}

/* banner image */

#banner-image-outer {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#banner-image {
    height: 500px;
    width: 100%;
    background: url(../images/baby-banner-image.jpg) no-repeat center center;
}



